.container{
  width: 400px;
  margin: auto;

}
body{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Outfit',sans-serif;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}
.card{
  background-color:  hsl(0, 0%, 100%);
  padding: 15px;
  margin: 10px;
  border-radius: 18px;

}
.image{
  width: 100%;
  border-radius: 18px;
}
.text{
  text-align: center;



}
.header{
  color: hsl(218, 44%, 22%);
}
.para{
  color: hsl(220, 15%, 55%);
  width: 75%;
  margin: auto;
}
.attribution{
  margin-top: 20px;
}
